body {
    background: linear-gradient(90deg, #153677, #4e085f);
    font-family: 'Climate Crisis';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: azure;
    font-family: 'Climate Crisis';
}

#location {
    width: 400px;
    padding: 10px 0px 10px 10px;
    border: solid 1px #c0bebe;
    border-radius: 20px 20px 20px;
    box-shadow: 1px 1px 1px;
}

#location:hover {
    background-color: rgb(200, 217, 243);
}

button {
    border-radius: 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    border: solid 1px #c0bebe;
    background-color: white;
    box-shadow: 1px 1px 1px;
}

#weathers {
    font-family: 'Climate Crisis';

    width: 400px;
    height: 500px;
    margin-top: 40px;
    border: solid 1px #c0bebe;
    border-radius: 20px 20px 20px;
    box-shadow: 0px 1px 0px;
    background-color: rgb(216, 235, 251);
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

#humidity,
#speed {
    font-size: 18px;
    margin-bottom: -6px;
}

#col2 {
    font-size: 15px;
    font-weight: lighter;
    margin-top: -6px;
}

.weather-container {
text-align: center;
}